---
layout: base.njk
title: Accueil
---
<h1>{{ metadata.title }}</h1>
<p class="lede">{{ metadata.description }}</p>

<ul class="post-list">
  {%- for post in collections.posts | reverse %}
  <li class="post-list-item">
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    <time datetime="{{ post.date.toISOString() }}">{{ post.date | readableDate }}</time>
    {% if post.data.description %}<p>{{ post.data.description }}</p>{% endif %}
  </li>
  {%- endfor %}
</ul>
